<center>
<h3>Penpal wants to get to know you a little more...</h3>
<p>Please complete the following survey so that we can suggest helpful activities.</p>
</center>



<center>
  <%= render partial: 'partials/preferences', locals: { path: '/survey', method: :post, button: 'Submit'} %>
</center>
