<h3>Journal about how you're feeling, then click save.</h3>
<section id='journal-entry'>
  <%= form_for resource_facade.new_entry do |f| %>
    <p>
      <%= f.label :entry %>
      <%= f.text_area(:entry, size: '100x20') %>
    </p>
    <p>
      <%= f.submit 'Save Entry', method: :post %>
    </p>
  <% end %>
</section>
