<center>
<h1>Welcome to Penpal</h1>

<section class='description'>
  <p>Penpal is here to help you log and track your moods as well as offer suggestions for things to do when you are not feeling well.</p>
  <p>Start by signing in, tell us a bit more about yourself, and receive a suggestion from Penpal.</p>
</section>

<div class="g-signin2" data-onsuccess="onSignIn">
  <%= link_to 'Sign in with Google', google_login_path, method: :get %>
</div>
</center>
