<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boost</title>
  </head>

  <body>
    <% if @completed != true %>
      <header class='boost-header'>
        <h2>Penpal Recommends: <%= resource_facade.suggestion %></h2>
      </header>

      <main class='boost-main'>
        <%= render partial: "partials/#{resource_facade.suggestion}", locals: {resource_facade: resource_facade} %>
      </main>
    <% end %>

    <p>Select whether you <%= link_to 'Completed', '/dbt', method: :get %> or
    <%= link_to 'Opted Out', '/dbt', method: :get %> of the suggested task</p>

  </body>
</html>
