<%= render partial: 'partials/nav' %>

<h1>Penpal wants to get to know you a little more</h1>

<center>
  <%= render partial: 'partials/preferences', locals: {path: '/preferences', method: :patch, button: 'Update Preferences'} %>
</center>
